body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    background-color: gray;
    box-sizing: border-box;
    padding: 20px;
}
nav {
    max-width: 1200px;
    margin: 0 auto 20px;
    background-color: #313131;
    padding: 15px;
    border-radius: 8px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
li a {
    color: white;
    text-decoration: none;
}
.cards {
    max-width: 1175px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}
img {
    width: 25%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}
h2 {
    color: black;
    margin: 10px 0 5px 0;
}
h4 {
    color: white;
    font-size: 0.8rem;
    background-color: #30a7d7;
    padding: 4px 10px;
    border-radius: 4px;
    width: max-content;
    margin-bottom: 10px;
}
p {
    color: gray;
}